@mixin isOpen {
  // width: 256px;
  background-position: auto;
  ~ .wrapper {
    left: 250px;
    width: calc(100% - 256px);
    @include layoutMobile;
    .header {
      left: 256px;
      width: calc(100% - 256px);
      @include layoutMobile;
    }
  }
  @include maxWidth(768px) {
    ~ .wrapper {
      width: 100%;
    }
  }
  .logo-details {
    // border-bottom: 1px solid #dfdfdf;
    width: 256px;
    .icon-head,
    .logo_name {
      opacity: 1;
    }
    #btn {
      text-align: right;
    }
  }
}
@mixin layoutMobile {
  @include maxWidth(768px) {
    left: 0;
    width: 100%;
  }
}

.menu-sidebar {
  // width: var(--sidebar-width);
  position: fixed;
  left: 0;
  top: 64px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 60px);
  border-right: 1px solid #dfdfdf;
  // box-shadow: 1px 1px 1px 1px #dfdfdf;
  transition: 1s ease ease-in-out;
  &.open {
    @include isOpen;
  }
  .logo-details {
    height: 65px;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 15px;
    border-right: 1px solid #dfdfdf;
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 80px;
    .icon-head {
      opacity: 0;
      // transition: all 0.5s ease;
      margin-left: 15px;
      
    }
    .logo_name {
      color: var(--color-white);
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease;
    }
    #btn {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      font-size: 22px;
      transition: all 0.4s ease;
      font-size: 23px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
    }
  }
}
