.header {
  transition: all 0.5s ease;
  display: inline-block;
  color: #11101d;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 25px;
  font-weight: 500;
  height: var(--header-height);
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  ~ .main {
    padding-top: calc(var(--header-height) + 5px) !important;
  }
  &-wrapper {
    display: flex;
    height: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    @include minWidth(769px) {
      .bars {
        display: none;
      }
    }
    .title-obj {
      color: var(--color-primary) !important;
      font-size: 1.3rem;
      @include maxWidth(768px) {
        display: none;
      }
    }
    .avatar {
      display: flex;
      align-items: center;
      span {
        font-size: 0.8rem;
      }
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }
}
