// color
$color-primary: #a50064;
$color-black: #000;

$color-error: #e9322d;
$color-warning: #eca700;
$color-success: #46ba61;

// image
$image-bg-sidebar: url('https://static.mservice.io/jk/momo2020/img/momo/bg-taiapp-big-op.jpg') !default;

// various structure data
$sidebar-width: 78px;
$header-height: 65px;

// Font and typograpy
$body-font: 'Nunito', sans-serif;
$normal-font-size: 0.95rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$h4-font-size: 0.75rem;
$h5-font-size: 0.5rem;
$h6-font-size: 0.25rem;
